.container {
	.wrapper {

		.bg-box {
			position: relative;
			height: 600px;
			background: url(../images/manhattan-banner.jpg) no-repeat top center;
			background-size: cover;
			background-attachment: fixed;
			overflow: hidden;

			.logo {
			  position: absolute;
			  height: 100px;
			  text-align: center;
			  text-decoration: none;
			  color: #fff;
			  font-size: 40px;
			  top: 50%;
			  left: 41%;
			  font-style: italic;
			  font-family: cursive;
			}
			p {
			width: 444px;
		  height: 733px;
		  position: absolute;
		  top: 72%;
		  right: 0;
			}
		}

		.content {
			h2 {
			  color: #ccc;
			  font-family: "Open sans", sans-serif;
			  font-weight: bolder;
			  font-size: 40px;
				text-align: center;
			  text-transform: capitalize;
			}
			p {
			  font-family: "Open sans", sans-serif;
				text-align: center;
			  text-transform: capitalize;
			}
		}
	}
}