.container {
	.wrapper {

		.bg-box {
			position: relative;
			height: 600px;
			background: url(../images/manhattan-banner.jpg) no-repeat top center;
			background-size: cover;
			background-attachment: fixed;
		}

		.content {
			h2 {
			  color: #ccc;
			  font-family: "Open sans", sans-serif;
			  font-weight: bolder;
			  font-size: 40px;
				text-align: center;
			  text-transform: capitalize;
			}
			p {
			  font-family: "Open sans", sans-serif;
				text-align: center;
			  text-transform: capitalize;
			}
		}
	}
}